# Entorno virtual
venv/
.venv/

# Variables de entorno
.env
.env.*

# Python
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# Docker
logs/
*.log
docker-compose.override.yml

# Git
.git/

# OS files
.DS_Store
Thumbs.db
storage/temp/*